services:
  yegher-node:
    image: grandvan/yegher-node:latest
    container_name: yegher-node
    hostname: yegher-node
    network_mode: host
    restart: always
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    env_file:
      - .env
    environment:
      - NODE_ENV=production

  tt-wrapper:
    image: grandvan/yegher-tt-wrapper:latest
    container_name: yegher-tt-wrapper
    hostname: yegher-tt-wrapper
    network_mode: host
    restart: always
    env_file:
      - .env.tt-wrapper
    volumes:
      - tt-data:/etc/trusttunnel

volumes:
  tt-data:
